.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background-image: url(../images/likeicon.svg);
  width: 23px !important;
  height: 20px !important;
  border: none;
  opacity: 0.4;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.card__like-button_is-active {
  background-image: url(../images/like.svg);
  opacity: 1;
  background-color: transparent;
  background-repeat: no-repeat;
}

.card__like-button_is-active:hover {
  opacity: 0.5;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  width: 32px !important;
  height: 32px !important;
  border: none;
  position: absolute;
  top: 10px;
  left: 371px;
  background-color: transparent;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete-button:hover {
  background-color: #ff6565;
  border-radius: 50%;
}

@media screen and (max-width:450px ) {
.card{
width: 100%;
}

.card__image{
width: 288px;
height: 288px;
justify-self: center;
}

.card__delete-button{
  left: 245px;
}

}