.footer {
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  opacity: 0.7;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 60px 16px 60px;
  }
}
