.label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  padding-bottom: 8px;
  opacity: 70%;
  color: #212121;
}

@media screen and (max-width: 330px) {
  .label {
    margin-bottom: 8px;
    padding: 0px;
  }
}
