.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__pic-container{
  position: relative;
  margin-right: 20px;
  display: inline-flex;
}

.profile__pic-container:hover .profile__pic-btn{
visibility: visible;
}

.profile__pic {
  border-radius: 10px;
  height: 190px;
  width: 190px;
}

.profile__pic-btn{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border-radius: 10px;
  border: none;
  opacity: .5;
  color: #ffffff;
  background-color: #212121;
}

.profile__pic-btn::after{
content: "Edit Avatar";
padding-bottom: 12px;
cursor: pointer;
}

.profile_icon-btn {
 filter: invert(100%) brightness(200%) contrast(100%);
 padding-bottom: 12px;
}

.profile__container {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  opacity: 0.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

.profile__edit-button {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-top: auto;
  height: 16px;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  white-space: nowrap;
  background: transparent;
  transition: opacity 0.3s ease;
}

.profile__post-button {
  color: #fcf5e5;
  background-color: #212121;
  margin-left: auto;
  height: 52px;
  width: 157px;
  margin-top: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover,
.profile__post-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.profile__post-icon {
  padding-right: 8px;
}

@media screen and (max-width: 640px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__name {
    margin: 0 0 6px 0;
  }

  .profile__pic {
    height: 80px;
    width: 80px;
  }

  .profile__pic-btn{
    visibility: visible;
    opacity: .5;
    color: transparent;
    width: 23px;
    height: 23px;
    bottom: 5px;
    right: 5px;
    justify-content: flex-start;
    padding: 3px;
    align-items: baseline;
  }

  .profile__pic-container{
  margin: 0 0 12px;
  }

  .profile__post-button {
    margin: 0;
    width: 288px;
  }

  .profile__edit-button {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .profile__container {
    align-items: center;
  }
}
